<div  class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1">
        {% block search2 %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}      
      </div>
    </div>
  </div>
</div>

<div class="definition">
  <p>Marketplace 360 is a one-stop shop to understand what data we have throughout the Enterprise as well as how it is used to generate business outcomes</p>
</div>

      
<div class="hero">
  <hr class="red_line">
</div>

<div class="links_title">
  <h2>Explore Marketplace 360 Sections</h2>
</div>

<div class="my-background">
  {% block links %}
    {% snippet 'home/snippets/links.html' %}
  {% endblock %}
</div>

<div  class="hero">
  <div class="container" style="align-content: center; width: 70%">
        {% block activity_stream %}
          {% snippet 'home/snippets/discussion.html' %}
        {% endblock %}
  </div>
</div>
