

<div  class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-12 col1">
        {% block search2 %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}      
      </div>
    </div>
  </div>
</div>
              
<div  class="hero">
  {% block stats2 %}
    {% snippet 'home/snippets/links.html' %}
  {% endblock %}
</div>

<div  class="hero">
  <div class="container">
    <div class="row row3">
      <div class="col-md-12 col1">
        {% block stats3 %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
        </div>
      </div>
  </div>
</div>
