:root {
	--main-background-color: rgb(0, 74, 124);
  --links-background-color: rgb(204, 228, 243);
}

.edai_padding_bottom {
  padding-bottom: 10px;
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    /* background-color: var(--main-background-color); */
    background-image: url("./images/background/Picture1.JPG");
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: var(--main-background-color);
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--main-background-color);
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(187, 175, 175);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(187, 175, 175);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
  color: white;  
  border-radius: 20px;
  padding: 20px; 
}

/* "box shadow" effect around various boxes on the page. */
.box_links {
  box-shadow: none;
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
  border-radius: 20px;
  padding: 20px; 
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero_links .box {
  border: 10px;
  margin-bottom: 20px;
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
   .hero_test {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white
  }

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: white;
    /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
  margin-bottom: 10px;
}



/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
    /* background-color: var(--main-background-color); */
    background-image: url("./images/background/Picture1.JPG");
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.row-display-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px; 
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}



/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}