{% block featured_group %}

  <div class="chat_container_2">
    <div col="col">
      <h3 class="alignleft">Discussion Forum: Recent Threads</h3>
      <img src="/images/discussion_search_post.png" alt="Avatar" >
    </div>
  </div>      



  <div class="row-display-flex chat_container chat_darker">
    <div col="col-md-2">
      <img src="/images/avatar3.png" alt="Avatar" width="40" height="40" >
    </div>
    <div col="col">
      <div>How to use SageMaker model from marketplace with GPU instances?</div>
      <div>Mary Johnson | Canadian P&C</div>
    </div>
    <div col="col">
      <div class="chat_time-left">August 14, 2020. 3:14 am</div>
    </div>
  </div>     

  
  <div class="row-display-flex chat_container">
    <div col="col">
      <img src="/images/avatar1.png" alt="Avatar" width="40" height="40">
    </div>
    <div col="col">
    <div>Prevent users to create raw copies of Marketplace paid AMI volumes.</div>
    <div>John Smith | T&O</div>
    </div>
    <div col="col">
      <div class="chat_time-left">August 13, 2020. 9:81 pm</div>  
    </div>    
  </div>         

  <div class="row-display-flex chat_container chat_darker" > 
    <div col="col">
      <img src="/images/tt2.png" alt="Avatar" width="40" height="40">
    </div>
    <div col="col">
      <div>Do we still need data visualization when we already have advanced AI?</div>
      <div>Tibor Tot | EDAI</div>
    </div>
    <div col="col">
      <div class="chat_time-left">August 11, 2020. 3:11 pm</div>
    </div>      
  </div>   
{% endblock %}