<div class="container my-background">
  <div class="my-background text row-display-flex " style="text-align: center;">
    <span class="border" style="background-color: white; border-radius: 30px;">
    <div class="col">
      <h2>Enterprise Curated Dataset Inventory</h2>
      <div class="row-display-flex">
        <div class=“col pull-left”>
          <figure>
            <a href="/dataset/private-banking">
              <img alt="" src="/images/front_page/personal.png" width=110" height="110" style="display: block; margin-left: auto; margin-right: auto;"">
              <figcaption style="padding-top:10px;">Personal Banking</figcaption>
            </a>
          </figure>
        </div>
        <div class=“col”>
          <figure>
            <a href="{{ h.url_for(controller='package', action='search') }}">
              <img alt="" src="/images/front_page/more.png" width="110" height="110" style="display: block; margin-left: auto; margin-right: auto;">
              <figcaption style="padding-top:10px;">More</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <hr/>
      <p>Explore data across the Enterprise to understand what data we have, where it is, and how to access it to help support your analytics</p>
    </div>
    </span>


      <span class="border" style="background-color: white; border-radius: 30px; margin-left: 30px;">
      <div class="col pull-right">
        <h2>Data Science Feature Inventory</h2>
        <div class=row-display-flex>
          <div class=“col”>
            <figure>
              <a href="http://127.0.0.1:5000/blog/feature-selection">
                <img alt="" src="/images/front_page/mllist.png" width="110" height="110" style="display: block; margin-left: auto; margin-right: auto;">
                <figcaption style="padding-top:10px;">Machine Learning Features Datasets</figcaption>
              </a>
            </figure>
          </div>
          <div class=“col ml-1”>
            <figure>
              <a href="http://127.0.0.1:5000/blog">
                <img alt="" src="/images/front_page/mlmodels.png" width="110" height="110" style="display: block; margin-left: auto; margin-right: auto;">
                <figcaption style="padding-top:10px;">Machine Learning Models</figcaption>
              </a>
            </figure>
          </div>
        </div>
        <hr/>
        <p>Discover ready-made data features, e.g. model output, derivation logic and code, to enable you to master the use of our data for Analytics & AI</p>
      </div>
      </span>

  </div>


  <div class="row-display-flex my-background" style="text-align: center;">
  </div>
</div>