<div class="container">
  <div class="row-display-flex " style="text-align: center; background-color:white;">
    <span class="border ">
    <div class="col">
      <p>Enterprise Curated Dataset Inventory</p>
      <div class=row-display-flex>
        <div class=“col pull-left”>
          <figure>
            <a href="{{ h.url_for('organization_read', id='personal-business-banking') }}">
              <img alt="" src="/images/personal.png" width=110" height="110" style="display: block; margin-left: auto; margin-right: auto;"">
              <figcaption>Personal Banking</figcaption>
            </a>
          </figure>
        </div>
        <div class=“col”>
          <figure>
            <a href="{{ h.url_for(controller='package', action='search') }}">
              <img alt="" src="/images/more.png" width=110" height="110" style="display: block; margin-left: auto; margin-right: auto;"">
              <figcaption>More</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <hr/>
      <p>Explore data across the Enterprise to understand what data we have, where it is, and how to access it to help support your analytics</p>
    </div>
    </span>

      <div class="col">
        <div class=row-display-flex>
          <div class=“col-sm-1”>
            <figure>
              <a >
                <img alt="" src="/images/more.png" width=20" height="0" style="display: block; margin-left: auto; margin-right: auto;"">
              </a>
            </figure>
          </div>

        </div>
      </div>

    <span class="border">
      <div class="col pull-right">
        <p>Data Science Feature 360</p>
        <div class=row-display-flex>
          <div class=“col”>
            <figure>
              <a href="{{ h.url_for(controller='package', action='search') }}">
                <img alt="" src="/images/mllist.png" width=110" height="110" style="display: block; margin-left: auto; margin-right: auto;"">
                <figcaption>Machine Learning Features Datasets</figcaption>
              </a>
            </figure>
          </div>
          <div class=“col”>
            <figure>
              <a href="{{ h.url_for('organization_read', id='commercial-banking') }}">
                <img alt="" src="/images/mlmodels.png" width=110" height="110" style="display: block; margin-left: auto; margin-right: auto;"">
                <figcaption>Machine Learning Models</figcaption>
              </a>
            </figure>
          </div>
        </div>
        <hr/>
        <p>Discover ready-made data features, e.g. model output, derivation logic and code, to enable you to master the use of our data for Analytics & AI</p>
      </div>
      </span>

  </div>


  <div class=row-display-flex style="text-align: center; background-color: white;">
  </div>
</div>