:root {
	--main-background-color: rgb(0, 74, 124);
	--main-background-color_1: rgb(0, 117, 190);
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: var(--main-background-color_1);
    
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: var(--main-background-color);
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--main-background-color);
}

beta {
  font-size: 25px;
}

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: var(--main-background-color_1);
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(187, 175, 175);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(187, 175, 175);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
  color: white;  
  border-radius: 20px;
  padding: 20px; 
}

/* "box shadow" effect around various boxes on the page. */
.box_links {
  box-shadow: none;
  /* background-color: var(--main-background-color); */
  background-image: url("./images/background/Picture1.JPG");
  border-radius: 20px;
  padding: 20px; 
}

.hero{
  background: rgb(255, 255, 255);
}


/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: none;
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero_links .box {
  border: 10px;
  margin-bottom: 20px;
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
   .hero_test {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white
  }

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(0, 0, 0);
    /* background-color: var(--main-background-color); */
    background-color: white;
    padding: 0px;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
    color: rgb(0, 0, 0);
    background-color: white;
    padding-top: 0px;
    padding-bottom: 25px;    
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
  margin-bottom: 0px;
}



/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
    background-color: var(--main-background-color_1);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.row-display-flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: white;
}

* {
  box-sizing: border-box;
}



/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

.definition {
  color:white;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold ;
  background-color: #005587;
  padding-top: 15px;
  padding-bottom: 16px;
}

.red_line {
  border: 0;
  background-color: #ed1c24;
  height: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2a477e;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color:white
}

.dropdown:hover .dropdown-content {
  display: block;
}

.border {
  display: inline-block;
  border:black;
  border-width: 1px;
  border-radius: 10px;
  border-style:solid;
  padding: 30px;

}

/* Chat containers */
.chat_container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  color: black;
}

/* Chat containers */
.chat_container_2 {
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  color: black;
}

/* Darker chat container */
.chat_darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.chat_container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat_container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


/* Style time text */
.chat_time-left {
  float: left;
  color: black;
  padding:0px;
}

.search_form_edai {
  border-radius: 10px;
}

div.links_title {
  text-align: center;
  background-color: #efeeee;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

.button_rounded {
  background-color:rgb(0, 117, 190);
  border: none;
  color: white;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.centered_search_box {
  position: relative;
  top: 50%;
  left: 25%;
  /* bring your own prefixes */
  
}

.centered_tags {
  position: relative;
  top: 50%;
  left: 25%;
  /* bring your own prefixes */
}



.col-sm-4 {
  background: #999;
}

.other {
  background: #88B040;
}

.other2 {
  background: #777;
}

.search-form .search-input.search-giant input {
  font-size: 16px;
  padding: 15px;
  border-radius: 25px;
}

.search-form .search-input.search-giant button i {
  font-size: 28px;
  width: 28px;
  color: var(--main-background-color_1);
}